<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<script type="text/javascript" src="../js/jquery-1.10.2.js"></script>
	<link rel="stylesheet" type="text/css" href="../package/css/itcui.dev.css" media="all"/>
	<script type="text/javascript" src="../package/js/itcui.dev.js"></script>
	<link rel="stylesheet" type="text/css" href="../component/css/bs_doc_ext.css" media="all"/>


	<style type="text/css">
		.row{margin-top:4px;margin-bottom:4px;}
		p{text-indent:2em;}
		h4{margin-top:18px;}
		.toggler{font-size:12px}
	</style>
	<title>关于本站点</title>
</head>
<body style="margin:16px;font-size:14px">
	<h4>关于本站点</h4>
	<p>本站点描述了广东粤电信息科技有限公司（以下简称科技公司）自主研发B/S架构软件用户界面设计的原则及规范，旨在统一B/S系统图形界面规范，为开发人员提供统一的标准，以便为用户提供统一显示效果、统一操作方式的界面，便于用户识别与使用。同时对其中涉及的组件进行介绍，并给出参考代码。</p>

	<h4>版本</h4>
	<p>组件库最新的版本为b6版</p>

	<h4>关于文档</h4>
	<p>如果你不确定某项功能如何使用，应该仔细阅读相关章节，尤其是标红的位置，文档中除了有使用方法之外，还有很多技巧性的内容。或者，也可以直接联系我们。</p>
	<p>相关组件原始文档：</p>
	<ul>
		<li>Bootstap3（部分组件和样式未集成）：<a href="http://v3.bootcss.com/components/" target="_BLANK">基本组件</a>，<a href="http://v3.bootcss.com/javascript/" target="_BLANK">插件</a></li>
		<li>EasyUI官方文档：<a href="http://www.jeasyui.com/documentation/index.php" target="_BLANK">点击这里</a></li>
		<li>EasyUI官方示例：<a href="http://www.jeasyui.com/demo/main/index.php" target="_BLANK">点击这里</a></li>
	</ul>

	<h4>关于API和实例</h4>
	<p>如果你是第一次使用UI组件库，请参考新版API和新版实例，老版API将仅提供兼容，不再更新。</p>

</body>
</html>