<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<script type="text/javascript" src="../js/jquery-1.10.2.js"></script>	
	<script type="text/javascript" src="js/shCore.js"></script>
	<script type="text/javascript" src="js/shLegacy.js"></script>
	<script type="text/javascript" src="js/shAutoloader.js"></script>
	<script type="text/javascript" src="js/shBrushJScript.js"></script>
	<script type="text/javascript" src="js/shBrushXml.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="css/shCoreDefault.css" media="all"/>	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" media="all"/>
	<title>演示页面</title>
</head>
<body style="margin:16px;font-size:14px">
	<h4>关于演示页面</h4>
	<p>自r4版UI组件库发布后，为了避免对开发造成不必要的误导，本文档删除了所有v1.0版的演示页面。新版演示页面（和权限系统整合）请点击这里进入（会弹出新窗口）。</p>
	<p>该页面中的选项卡和导航树配置来自TIMSS数据库，但是没拷贝对应页面，因此除了权限部分和UI演示页面，其余选项卡下的所有页面点击都是404错误</p>
	<p>演示页面部分接口使用UI组件库在b5版中将发布的适配器编写，参数和入口更加简洁。</p>

	<h4>演示了什么？</h4>
	<ul>
		<li>EasyUI Layout</li>
		<li>与站点关联的数据权限</li>
		<li>树操作（动态载入），包括右键菜单、节点动态创建</li>
		<li>Datagrid操作</li>
		<li>表单操作，包括创建、只读/编辑模式切换，表单验证，表单提交</li>
	</ul>

	<h4>下载演示站点</h4>
	<p>点击这里下载演示站点（tomcat工程）</p>

	<h4>测试账号</h4>
	<p>超级管理员：superadmin/admin</p>

	<h4>注意</h4>
	<p>请不要创建或删除大量数据，权限部分的数据来自TIMSS1开发数据库的一份拷贝。</p>
	
</body>
</html>