<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<script type="text/javascript" src="../js/jquery-1.10.2.js"></script>
	
	<script type="text/javascript" src="js/shCore.js"></script>
	<script type="text/javascript" src="js/shLegacy.js"></script>
	<script type="text/javascript" src="js/shAutoloader.js"></script>
	<script type="text/javascript" src="js/shBrushJScript.js"></script>
	<script type="text/javascript" src="js/shBrushXml.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="css/shCoreDefault.css" media="all"/>	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" media="all"/>
	<script type="text/javascript">
		$(document).ready(function(e){
			SyntaxHighlighter.all();
			$(window).scroll(function(){
				adjust();
			})

		});

		function adjust(){
			 var diffY = document.documentElement.scrollTop;
			 $("#navbar").css("margin-top",diffY);
		}
		
	</script>
	<style type="text/css">
		.row{margin-top:4px;margin-bottom:4px;}
		p{text-indent:2em;}
		h4{margin-top:18px;}
		.toggler{font-size:12px}
	</style>
	<title>粤电2012大事记（页内导航演示）</title>
</head>
<body style="margin:16px" data-spy="scroll" data-target="#navbar">
	<div style="width:200px;float:left" id="navbar">
		<ul class="nav nav-pills nav-stacked">
		    <li><a href="#jan">1月</a></li>
		    <li><a href="#feb">2月</a></li>
		    <li><a href="#mar">3月</a></li>
		    <li><a href="#apr">4月</a></li>
		    <li><a href="#may">5月</a></li>
		    <li><a href="#jun">6月</a></li>
		    <li><a href="#jul">7月</a></li>
		    <li><a href="#aug">8月</a></li>
		    <li><a href="#sep">9月</a></li>
		    <li><a href="#oct">10月</a></li>
		    <li><a href="#nov">11月</a></li>
		    <li><a href="#dec">12月</a></li>
		</ul>
	</div>
	<div id="content" style="width:400px;float:left">
		<p id="jan"><strong>一月</strong></p>
<p>●1月，粤华公司信息分部、沙角C电厂电气继保班、云浮电厂电一班、惠州天然气发电公司运行A值四个基层班组被评为2010年度广东省省属企业青年文明号。</p>
<p>●1月，靖海发电公司、惠州天然气发电公司、云浮电厂、茂名电厂、粤泷发电公司获评&ldquo;2011年度全国'安康杯'竞赛优胜单位&rdquo;。</p>
<p>●1月，珠海电厂、新丰江发电公司获&ldquo;全国电力行业质量奖&rdquo;。</p>
<p>●1月，红海湾发电公司获&ldquo;第三届电力行业设备管理创新&rdquo;一等奖；珠海电厂获二等奖。</p>
<p align="left">●1月5日，粤电集团人力资源部荣获&ldquo;全省组织系统先进集体&rdquo;荣誉。</p>
<p>●1月6日，粤电集团召开2012年安全生产工作会议。在家的集团领导潘力、李灼贤、洪荣坤、钟伟民、李明亮、徐平及安委会成员等出席了会议。会议总结2011年的安全生产工作情况，部署2012年的安全生产工作，对2011年安全生产情况良好的单位和&ldquo;优秀班组&rdquo;进行表彰和奖励。</p>
<p>●1月6日，广东省国资委党委书记刘富才到粤电集团宣布祝德俊、杨新力同志任粤电集团副总经理。</p>
<p>●1月10日，加拿大不列颠哥伦比亚省政府贸易投资办公室华南区主任姚承业一行到访粤电，粤电集团副总经理高仕强等接待来访，双方就煤炭、天然气等能源方面的贸易和合作进行交流。</p>
<p>●1月15至17日，粤电集团召开第二届第五次职工代表大会和2012年工作会议。广东省国资委副主任、党委委员林三琳，省经信委副巡视员陆建生，南方电监局副局长张良和省能源局、物价局等有关部门领导，粤电集团监事会主席张亮，及领导班子全体成员出席了会议。会议总结回顾2011年工作情况，分析2012年面临的机遇和挑战，明确2012年的工作任务。</p>
<p>●1月23日，粤电集团董事长潘力，副总经理高仕强、祝德俊一行到粤华公司进行慰问，为该厂员工送去最诚挚的新春祝福。<a name="_GoBack"></a></p>
<p>●1月23日，粤电集团总经理李灼贤，副总经理洪荣坤、杨新力等赴云浮电厂进行春节慰问。李灼贤勉励该厂员工再接再厉，再创新成绩。</p>
<p>&nbsp;</p>
<div id="feb"></div>
<p><strong>二月</strong></p>
<p>●2月，全国体育总局和广东省体育局分别召开表彰大会，新丰江发电公司荣获全国体育总局&ldquo;全民健身活动先进单位&rdquo;、广东省第十二届&ldquo;体育节&rdquo;活动优秀组织奖，韶关电厂和惠州天然气发电公司荣获广东省第十二届&ldquo;体育节&rdquo;活动先进单位。</p>
<p>●2月，湛江电力公司运行部二值二控获评&ldquo;全国青年安全生产示范岗&rdquo;。</p>
<p>●2月，珠海电厂《大小修综合管理系统开发和应用》、《旋转机械精密点检项目》获&ldquo;全国电力行业企业管理创新成果&rdquo;三等奖。</p>
<p>●2月2日，韶关市委书记郑振涛、市政府党组副书记张志才一行到访粤电，粤电集团总经理李灼贤，副总经理洪荣坤、李明亮等领导接待来访，双方就有关合作建设项目进行交流。</p>
<p>●2月10日，粤电集团成立以来最大最先进的新造船&ldquo;粤电102号&rdquo;轮（115000载重吨）在上海长兴岛江南造船厂码头完成交接投入营运。该船的正式投运，标志着粤电拥有了超巴拿马型的最先进和超前设计的船舶，在竞争激烈的国际海运市场将可争取到更广阔、有利的竞争空间；随着集团运力的稳步发展，截止2012年底，粤电集团的可控运力达到261万吨，运力规模居全国沿海散货船队第四位。</p>
<p>●2月14日，广东省发电企业第一个EMC（合同能源管理）合同--广东省韶关粤江发电有限责任公司&ldquo;11号机组通流改造项目&rdquo;EMC合同签约仪式在广州举行。</p>
<p align="left">●2月16日2时34分，河源市东源县（北纬24.0度，东经114.5度）发生M4.8级地震，震源深度13公里。虽然震中离新丰江水库大坝约30公里。经过严密的检查、监测，初步结果显示：新丰江电厂大坝各项监测数据变化幅度处于正常范围，各类水工建筑物及机电设备等均未受到地震影响、损害。为确保大坝安全的万无一失，17日，粤电集团将有关情况及技术数据报国家电监会大坝安全监察中心等上级相关部门作进一步专项研究，听取有关专家的意见。</p>
<p>●2月17日，股份公司、财务公司被广东省档案局评为省企业档案&ldquo;三级甲等单位&rdquo;。</p>
<p>●2月20日，粤电集团董事长潘力，总经理李灼贤，副总经理李明亮、杨新力一行前往阳江，拜会阳江市委书记林少春、市长魏宏广。双方就推进阳江港码头泊位建设、提升阳江铁路电煤运能、开发阳江海上风电资源等进行了交流磋商，并提出了共同推进项目建设的若干具体措施。</p>
<p>●2月21日，粤电集团董事长潘力，总经理李灼贤，副总经理李明亮、杨新力一行前往湛江，拜会了湛江市市委书记刘小华、市长王中丙。双方就海上风电等清洁能源项目进行了交流。</p>
<p>●2月22日，粤电集团董事长潘力，总经理李灼贤和副总经理李明亮、杨新力一行在茂名迎宾馆拜会了茂名市委书记邓海光、市长梁毅民。双方就有关能源项目建设等进行了交流。</p>
<p>●2月21日，粤电集团投资建设的第二个光伏发电项目--南沙开发区光伏发电项目（装机容量10MW）正式开工。</p>
<p>●2月27日，湛江生物质第一个为期七年计入期的ＣＤＭ项目获联合国签发，每年二氧化碳减排量约42万吨，成为粤电集团第五个成功注册的ＣＤＭ项目。</p>
<p>●2月28日，粤电集团召开&ldquo;亏损企业经营扭亏减亏现场会&rdquo;，粤电集团总经理李灼贤，副总经理高仕强出席了会议。会议总结2011年减亏扭亏工作，对2012年减亏扭亏工作进行部署。</p>
<p>●2月29日，在广东省价格协会成立30周年暨第三届会员代表大会上，粤电集团和系统单位珠海电厂双获&ldquo;2011年度广东省价格协会系统先进单位&rdquo;表彰。</p>
<p>●2月29日，云南省能源投资集团有限公司法人代表、云南省电力投资有限公司总经理段文泉一行到访粤电，粤电集团总经理李灼贤接待了来访。双方就发展合作进行了交流。</p>
<p>&nbsp;</p>
<p id="mar"><strong>三月</strong></p>
<p>●3月，在广东省国资系统效能监察评比活动中，韶关电厂燃煤管理效能监察项目、粤华公司燃料采制化效能监察项目，双双入选&ldquo;省属企业十大优秀效能监察项目&rdquo;；珠海电厂和惠州天然气发电公司的效能监察论文荣获优秀论文奖，粤电集团纪委荣获组织优秀奖。</p>
<p>●3月1日，粤电集团在总部召开女职工工作暨表彰会议，粤电集团副总经理洪荣坤，党委副书记、纪委书记、工会主席钟伟民出席会议。会议对2011年女工工作进行总结，对2012年女工工作进行部署，并对10个&ldquo;粤电女职工文明示范岗&rdquo;、10名&ldquo;粤电建功立业女能手&rdquo;进行表彰。</p>
<p>●3月1日，粤电集团召开燃煤电厂综合升级改造工作启动动员电视电话会议，广东省能源局局长张祖林、省能源局电力处副处长任剑强，粤电集团副总经理洪荣坤、李明亮出席会议。会议对燃煤电厂综合升级改造工作进行具体的部署。</p>
<p align="left">●3月1日至4月15日，以曾超鹏同志为组长、陈念程同志为副组长的广东省委第二巡视组对粤电集团开展巡视检查工作，巡视工作以个别谈话、查阅资料、听取汇报、走访调研等多种方式开展。</p>
<p>●3月9日，粤电集团在东莞召开2012年纪检监察工作会议，粤电集团党委书记、董事长潘力，党委副书记、总经理李灼贤，党委副书记、纪委书记钟伟民出席会议。会议强调把廉政工作贯穿管理全过程。</p>
<p>●3月8日，南非MICROmega集团董事会主席兼NOSA公司CEO David Cunningham King一行到访粤电，粤电集团副总经理洪荣坤等接待来访，双方就提升电厂的安健环管理等进行沟通与交流。</p>
<p>●3月9日，ALSTOM（阿尔斯通）集团电网部高级执行副总裁Michel Serra先生一行到访粤电，粤电集团副总经理李明亮等接待来访，双方就继续加强合作事宜进行交流。</p>
<p>●3月23日，粤电集团、广发银行分别与广东省地方税务局在广州举行《税收遵从与服务协议》签约仪式，国家税务总局大企业税收管理司副司长胡效国，广东省地税局党组书记、局长王南健，粤电集团董事长潘力，广发银行董事长董建岳出席签约仪式。这是广东省税企合作共建企业税务风险防控体系的里程碑，也是企业在健全税务风险管理机制方面迈出的关键一步，此次协议的签署，标志着税企双方建立起了和谐、合作的新型税企关系。</p>
<p>●3月27日，在广东省科学技术奖励大会暨全省科技工作会议上，粤电集团&ldquo;大型火电机组负荷自适应控制优化技术&rdquo;荣获广东省科学技术一等奖。粤电集团副总经理洪荣坤参加会议并接受颁奖。该项目每年可减少煤耗12万吨，分别减排二氧化碳和二氧化硫排放22万吨、2400吨，减少粉尘2.4万吨，每年产生经济效益超过4亿元人民币。</p>
<p>至2012年底，粤电集团已拥有发明专利2项（在申请3项），实用新型专利7项，软件著作版权19项。</p>
<p>●3月27日，丹麦王国驻广州领事馆总领事THOMAS携丹麦企业代表到访粤电，粤电集团副总经理李明亮等接待了来访，双方就海上风电、脱硝和炉顶密封方面的技术进行交流。</p>
<p align="left">●3月27日，第十个&ldquo;粤电青年志愿者林&rdquo;植树活动在平海电厂举行。粤电集团公司党委副书记、纪委书记钟伟民参加了植树活动。</p>
<p>●3月30日，粤电集团成功发行2012年度第一期非公开定向债务融资工具，实际发行金额25亿元，票面利率5.37%，债券期限5年，这是粤电集团第一次采用非公开定向债务融资工具方式募集资金。</p>
<p>●3月，粤电集团财务公司投资4.45亿元入股珠海市农村信用合作联社，持有该联社（增资扩股后）9.9%股权，成为其持股最多的主要战略股东之一。</p>
<p>●3月31日，2011年度电力行业市场诚信体系建设会议在北京召开。会上，粤电集团有5家发电企业通过AAA等级评价，其中沙角C电厂、珠海电厂通过AAA级复评价，被授予奖牌和证书。深圳广前电力有限公司、惠州天然气发电有限公司、沙角A电厂等企业仍保持AAA等级信用评价。</p>
<p id="apr"><strong>四月</strong><strong></strong></p>
<p>●4月，湛江电力公司（广东省第二火力发电国家职业技能鉴定站）和粤华发电公司（广东省第三火力发电国家职业技能鉴定站）被中国电力企业联合会授予&ldquo;2011年度全国电力行业职业技能鉴定先进鉴定站&rdquo;荣誉称号。</p>
<p>●4月，韶关电厂获评&ldquo;2011-2012年度全国'讲理想、比贡献'活动先进集体&rdquo;。</p>
<p>●4月，云浮电厂&ldquo;上锅首台自主型300MW循环流化床（CFB）锅炉燃烧优化关键技术研究及工程应用&rdquo;成果获&ldquo;2012年度中国电力建设科学技术成果一等奖&rdquo;。</p>
<p>●4月，珠海电厂获&ldquo;中国电力信息化推进示范单位&rdquo;。</p>
<p>●4月，广前电力公司顺利通过国家高新技术企业审查，荣获2011年度&ldquo;国家高新技术企业&rdquo;称号。</p>
<p>●4月，云浮电厂运行部化试班和广前公司财务部被广东省妇女联合会授予&ldquo;巾帼文明岗&rdquo;荣誉。</p>
<p>●4月1日，粤电集团获颁广州市首批认定总部企业。</p>
<p>●4月2日，粤电集团湛江徐闻洋前风电CDM项目二期减排量约7.1万吨获得联合国签发。至此，粤电集团已有惠来石碑山风电、惠州LNG电厂、前湾LNG电厂、湛江徐闻洋前风电、湛江生物质电厂等共5个CDM项目在联合国注册成功，累计签发减排量约267.6万吨。</p>
<p>●4月10日，湛江徐闻勇士风电已被联合国批准注册成为CDM项目。该项目在第一个为期七年的计入期内，每年的二氧化碳减排量约为8万吨，成为粤电集团第六个成功注册的CDM项目。</p>
<p>●4月10日-11日，在2012年广东省电力行业协会发电专委会QC成果发布会上，金湾发电公司脱硫环保QC小组的《防止GGH换热元件堵塞》QC成果获得总分第一，云浮电厂检修部电一班QC小组的《减少6号机组风机变频器故障次数》获得第二名，靖海发电公司设备部汽机班QC小组的《降低2号凝结水溶氧含量》获得第三名。同时，两个QC小组获推中国水电质协优秀QC小组，两个QC小组获推&ldquo;南粤之星杯&rdquo;优秀QC小组，另外有三个QC小组获推广东省质协优秀QC小组。</p>
<p>●4月22日-23日，粤电集团董事长潘力出席中国电力企业联合会2012年第一次理事长会议，潘力表示，粤电集团作为副理事长单位，将一如既往大力支持中电联的工作，加强与各会员单位的交流，共同推动中国电力事业的发展。</p>
<p>●4月23日，中华全国总工会、国家安全生产监督管理总局联合表彰2011年度全国&ldquo;安康杯&rdquo;竞赛先进，粤电系统云浮电厂、茂名电厂、金湾发电公司、惠州天然气发电公司、靖海发电公司和粤泷公司共六单位及红海湾公司设备部汽机班一班组榜上有名。</p>
<p>●4月25日，粤电集团召开庆祝&ldquo;五一&rdquo;国际劳动节暨表彰大会，集团领导潘力、李灼贤、钟伟民、高仕强、孔惠天、李明亮出席会议。会议号召全体员工继续弘扬劳模精神，为集团发展而奋斗，并向吕宏斌等10名同志颁发&ldquo;广东省粤电集团有限公司标兵&rdquo;荣誉证书，向李方吉等20名同志颁发&ldquo;广东省粤电集团有限公司先进生产（工作）者&rdquo;荣誉证书。</p>
<p>●4月25日，在广东省庆祝&ldquo;五一&rdquo;国际劳动节暨劳动模范表彰大会上，粤电集团珠海电厂运行部化学分部机械点检班班长孙文惠（女）、韶关电厂技术专责张泉荣获&ldquo;全国五一劳动奖章&rdquo;；云浮电厂厂长李瑞明、沙角C电厂2控班班长胡昌镁、湛江电力公司热控检修分部主任黄清叶当选为&ldquo;广东省劳动模范&rdquo;；红海湾公司荣获&ldquo;全国五一劳动奖状&rdquo;；靖海发电公司、茂名电厂运行车间荣获&ldquo;广东省先进集体&rdquo;荣誉称号。</p>
<p align="left">●4月26日，粤电博贺煤电一体化项目在茂名滨海新区博贺新港区启动开工仪式。该项目主要建设粤电博贺电厂和煤炭码头工程，博贺电厂项目首期建设2台100万千瓦超超临界机组；码头工程项目将建1个10万吨级卸煤码头和1个3.5万吨级装煤码头以及配套的港口设施。</p>
<p>●4月28日，贵州省副省长禄智明莅临天一电厂检查防汛工作，强调要落实各项防汛措施，确保安全度汛。</p>
<p>&nbsp;</p>
<p id="may"><strong>五月</strong></p>
<p>●5月，在广东省火电厂2012年锅炉专业技术监督研讨会上，沙角A电厂、沙角C电厂、珠海电厂被授予&ldquo;2011年锅炉技术监督工作先进单位&rdquo;称号，占据该奖半壁江山。</p>
<p>●5月，沙角A电厂获评&ldquo;全国电力可靠性监督管理2008-2011年度先进单位&rdquo;。</p>
<p>●5月，沙角C电厂获全国火电600MW及亚临界机组竞赛（2011年度）二等奖。</p>
<p>●5月4日，粤电集团召开2012年第一次股东会会议，广东省国资委主任温国辉，中国华能集团副总经理黄龙，粤电集团董事长潘力，总经理李灼贤出席会议。会议通报2011年度粤电集团在经营发展、公司治理及董事会运作等方面的工作情况，对2012年的工作进行分析和展望。广东省国资委、华能集团对粤电集团2011年的工作给予充分的肯定和赞赏，认为粤电集团董事会勤勉尽责，认真贯彻落实股东会各项决议，工作卓有成效。</p>
<p>●5月7日，粤电集团在总部召开三防、迎峰度夏及广东省十一次党代会、党十八大保电安全生产电视电话会议，粤电集团领导李灼贤、洪荣坤、高仕强、孔惠天、祝德俊等出席会议。会议总结分析粤电集团1至4月份的安全生产情况，并布置下一阶段的安全生产工作任务。</p>
<p>●5月7日，粤电集团与韶关市政府签订南水水库供水工程合作框架协议，韶关市委书记郑振涛、市长艾学峰、市委常委张志才，粤电集团董事长潘力、副总经理李明亮等领导出席签约仪式。此协议的签订，标志着粤电集团与韶关市合作开发的南水水库供水工程项目正式启动。</p>
<p>●5月10日，粤电集团与云南能源投资集团有限公司在昆明签订战略合作框架协议，粤电集团副总经理徐平出席签约仪式，并代表粤电方签字。此次签署战略合作协议，将有利于双方构建全方位的战略合作关系，为下一步粤电参与云南省内&ldquo;三江&rdquo;流域大型水电等优质能源资源投资开发创造了有利条件。</p>
<p align="left">●5月14日，沙角C电厂2号机组SCR烟气脱硝装置通过168小时，标志着粤电集团系统内的首个SCR烟气脱硝改造工程顺利完成，机组脱硝效率达80%以上，满足国家最新的环保排放标准。</p>
<p align="left">●5月21日，汕尾市市委副书记、市长吴紫骊、常务副市长魏友庄一行到访粤电，粤电集团董事长潘力、副总经理高仕强、李明亮等接待来访，双方深入交流有关合作建设项目。</p>
<p align="left">●5月24日，粤电集团在广州召开安全生产标准化达标推进工作研讨会。会议介绍国家推动安全生产标准化达标工作的背景和要求，分析行业内开展安全生产标准化达标工作的具体情况，并对如何统筹开展推进安全标准化工作交流意见。</p>
<p>●5月31日，在中国电力企业联合会召开的2012年电力行业新闻宣传工作会议上，粤电集团、粤华发电公司、沙角A电厂、湛江电力公司和靖海发电公司等单位获评&ldquo;2011年度全国电力行业新闻宣传工作先进单位&rdquo;荣誉；粤华发电公司敖长彬、沙角C电厂刘杰新、韶关电厂陈盛平、茂名热电厂贺薇薇和青溪发电公司张书改等人分别获评&ldquo;2011年度全国电力行业新闻宣传工作先进个人&rdquo;荣誉。</p>
<p>●5月20-30日，由粤电集团和中央党校联合举办的第五期高管人员培训班在北京举行，粤电集团党委副书记钟伟民出席开班仪式，董事长潘力出席了结业典礼。</p>
<p id="jun"><strong>六月</strong></p>
<p>●6月，海电公司、远洋公司获评中国海事&ldquo;安全诚信单位&rdquo;。</p>
<p align="left">●6月1日，粤电集团正式启动经营管理平台的第一个子系统－电力营销管理项目，粤电集团副总经理高仕强参加启动仪式。经营管理数字化平台建设是实现粤电集团&ldquo;生产与经营并重&rdquo;管理方针的一项重大举措，也是实现粤电集团经营管理上台阶的重要途径。</p>
<p><strong>●</strong>6月7至8日，粤电集团召开2012年政策研究课题验收会暨务虚会，粤电集团领导、特邀专家评委、总部各部门负责人、各课题组负责人及系统有关单位代表共近50人参加了会议。</p>
<p>课题验收会由粤电集团董事长潘力主持。会上共有6项涉及融资策略、整体经营模型、水资源综合利用等集团发展和管理过程中的重大问题的课题通过验收；8日上午，集团总经理李灼贤主持召开了2012年度务虚会，结合经营管理部、人力资源部的前期调研工作，与会代表围绕集团公司山区电厂经营和可持续发展问题进行了热烈研讨，为下一步做好山区电厂的战略定位和经营管理提供了许多好的思路和想法。</p>
<p>●6月14日，粤电集团主办双三角能源企业联谊会第三轮第三次会议，浙江省能源集团董事长吴国潮，深圳能源集团董事长高自民，上海申能集团董事长杨祥海，粤电集团董事长潘力等出席联谊会，中国国际工程咨询公司副总经理黄峰应邀参加会议。会议各方围绕&ldquo;新能源--电力转型升级的机遇与挑战&rdquo;主题发言，并就新能源在能源领域的发展前景及意义进行分析和探讨。</p>
<p>●6月14日，在2012年&ldquo;洪业杯&rdquo;全国亿万职工全健排舞大赛中，广东省总工会选送的粤电集团排舞队参赛排舞作品《咱们工人有力量》以全场最高分夺第一名,这是广东省参加本次大赛唯一选送的排舞作品。粤电集团此次参赛作品《咱们工人有力量》由茂名电厂员工演出，整个排舞由《加勒比明珠》、《爱的信函》和《魔力火车》三首排舞舞码组成。</p>
<p>●6月15日，东方电气集团有限公司董事长王计一行到访粤电，粤电集团董事长潘力、副总经理洪荣坤接待了来访。</p>
<p>●6月26日，在首届&ldquo;中国(广州)国际金融交易&middot;博览会&rdquo;开幕式上，粤电集团董事长潘力代表粤电集团与中国农业银行和中国建设银行分别签署战略合作协议。协议约定，农业银行和建设银行分别授予粤电集团300亿元人民币综合授信额度，用于粤电集团及其直接或间接控股子公司作为主要投资方所投资的固定资产项目建设或其他用信需求。</p>
<p>●6月26日，中国共产党广东省粤电集团有限公司直属单位第三次代表大会在粤电集团总部召开，会议审议通过了粤电集团党委副书记、纪委书记、工会主席钟伟民同志代表第二届直属党委所作的题为《发挥优势创新工作 为粤电集团科学发展作出新贡献》的工作报告，审议通过了宋一明同志代表粤电集团直属纪律检查委员会所作的题为《全面履行职责 加大防治力度 扎实推进党风廉政建设》的工作报告；会议选举钟伟民、宋一明、文联合、吕宏斌、周志坚、张兴栋、邱健伊等7位同志为粤电集团第三届直属党委委员，选举宋一明、王进、何捍东、陈泽、龚方红等5位同志为粤电集团直属纪律检查委员会委员。</p>
<p>●6月27日，粤电集团十万吨级码头项目--博贺煤炭码头项目正式获得国家发改委核准。项目拟建1个10万吨级煤炭接卸泊位、1个3.5万吨级煤炭装船泊位、2个工作船泊位，以及其他配套设施；拟设计年通过能力1824万吨（其中接卸能力1167万吨，装运能力657万吨）。项目总投资约28.49亿元，预计2015年可建成。</p>
<p>●6月29日，广东粤电南沙开发区光伏发电项目启动试运首次实现并网，成为广东省第一个完工的国家2011年&ldquo;金太阳&rdquo;示范项目，是广东省目前已建成的首个10MW级屋顶光伏项目，也是目前国内最大的单体建筑屋顶光伏项目。该项目是继大学城项目后粤电集团建成投产的第二个光伏发电项目</p>
<p>●6月30日，在2012年度&ldquo;广东省扶贫济困日&rdquo;活动启动仪式上，粤电集团荣获2011年度&ldquo;广东扶贫济困红棉奖金奖&rdquo;，并在2012年扶贫捐赠仪式上捐赠1300万元。粤电集团总经理李灼贤代表粤电领取奖杯，党委副书记钟伟民代表粤电捐赠。</p>
<p>&nbsp;</p>
<p id="jul"><strong>七月</strong><strong></strong></p>
<p>●7月，在广东省十项工程劳动竞赛总结推进大会上，表彰了在2011年省重点项目建设工作中作出突出贡献的先进集体，云浮电厂被授予&ldquo;2011年度广东省十项工程劳动竞赛模范集体&rdquo;称号,并同时被授予&ldquo;广东省五一劳动奖状&rdquo;荣誉；湛江生物质发电公司总经理苏余宁和集团总部的专责工程师任军分别被授予&ldquo;广东省十项工程劳动竞赛模范企业家&rdquo;和&ldquo;广东省十项工程劳动竞赛模范科技工作者&rdquo;称号，并同时获&ldquo;广东省五一劳动奖章&rdquo;荣誉。</p>
<p>●7月，粤电集团工会被中华全国总工会授予&ldquo;2011年度市级工会财务工作先进单位&rdquo;。</p>
<p>●7月，珠海电厂获评&ldquo;中国电力信息化推进示范单位&rdquo;。</p>
<p>●7月，在广东省第三十二次质量管理小组代表会上举行QC成果交流竞技，云浮发电厂的&ldquo;减少四号机组数据采集系统的故障次数&rdquo;和靖海发电公司的&ldquo;降低二号机组凝结水溶解含量&rdquo;的两个QC成果获得银奖。</p>
<p>●7月，国务院扶贫办主任、党组书记范小建莅临天一电厂视察，广西壮族自治区副主席陈章良及广西百色市、贵州省黔西南州有关负责人陪同视察。</p>
<p>●7月5日，粤电集团与南方电网综合能源公司签订LED照明工程改造的战略合作框架协议，粤电集团副总经理洪荣坤、南方电网综合能源公司董事长王静辉、副总经理曹重、杨柏，广业公司副总经理吴晓晖出席签字仪式。此次协议的签订，是粤电集团积极响应和贯彻广东省委省政府&ldquo;关于在全省推广使用LED照明产品、三年普及LED公共照明&rdquo;战略决策的重要举措。</p>
<p>●7月10日，粤电集团董事长潘力、副总经理祝德俊一行赴北京拜访了神华集团。神华能源股份公司副总裁、神华销售集团董事长王金力、总经理李景平等领导接待了潘力董事长一行。</p>
<p>●7月11日，粤电集团董事长潘力、副总经理祝德俊一行在北京拜访了中煤集团总经理王安等高层，双方就加强合作事宜进行交流。</p>
<p>●7月12日，广东省省委常委、组织部部长李玉妹在省国资委主任温国辉的陪同下到粤电集团调研。李玉妹先后到粤电燃料调度中心和财务公司结算中心现场调研，鼓励粤电发挥优势，争取为广东经济社会发展多做贡献。粤电集团董事长潘力，总经理李灼贤及有关部门负责人等参加了调研。</p>
<p>●7月14日，威信云投粤电扎西能源有限公司煤电一体化项目一期工程1号机组圆满完成168小时满负荷试运行，标志着粤电西南发展战略布局又迈出坚定的一步。该项目一期2&times;600MW新建工程是粤电集团在2005年&ldquo;泛珠会&rdquo;上签订的第一个合作项目，也是国家&ldquo;西电东送&rdquo;的重要配套项目。</p>
<p>●7月18-19日，粤电集团在广州召开2012年年中经营工作会议，集团领导潘力、李灼贤、洪荣坤、刘谦、钟伟民、高仕强、孔惠天、李明亮、徐平、祝德俊、杨新力出席了会议，集团监事会主席张亮及系统各单位、总部各部门主要负责人共83人参加了会议。</p>
<p>会议分析粤电集团上半年经营活动和安全生产情况，对下半年的生产和经营工作进行部署。会议还专题报告薪酬改革、员工职业生涯管理试点工作情况；表彰了广东省科学技术奖一等奖获奖单位；并围绕&ldquo;如何提高企业经营效益，确保实现集团年度经营目标&rdquo;所面临的问题进行分组讨论；还对2012纪律教育月活动进行动员和工作部署。</p>
<p>●7月18日，粤电集团《2011年企业社会责任报告》正式发布，这是粤电集团第二次发布企业社会责任报告，粤电集团领导班子全体成员、系统各单位主要负责人参加发布会。全球契约中国网络执行副主任、中国企业联合会全球契约推进办公室主任韩斌出席会议并讲话，他认为，《报告》内容全面，数据详实，信息规范清晰，表格、图片与案例具体生动，是一份符合全球报告倡议组织GRI可持续发展报告指南和联合国全球契约年度进展报告编写要求的、具有较高水平的社会责任报告。</p>
<p>●7月20日，西安热工院院长林伟杰到访粤电集团。粤电集团总经理李灼贤，副总经理李明亮、徐平接待了来访。</p>
<p>●7月24日，粤电集团在汕尾市召开创先争优主题活动成果展示会，粤电集团党委副书记、纪委书记、工会主席钟伟民出席会议。会议以图文并茂的方式展示系统共27个单位创先争优主题活动取得的成果，其中8家单位制作了主题视频，展示本单位创先争优活动的现场场景、主要作法或先进人物事迹等。</p>
<p>●7月25日，在广东省&ldquo;安康杯&rdquo;班组安全文化展板竞赛活动中，沙角C电厂电气继保班代表队获得三等奖。</p>
<p>●7月30日，粤电徐闻勇士风电场首台风机成功并网发电，标志着该项目正式进入250小时试运行调试。该风电场是粤电集团在粤西地区开发建设的第二个风电项目，共计划安装33台单机容量为1500千瓦的风力发电机组（总装机容量达4.95万千瓦）。</p>
<p>●7月，在广东省十项工程劳动竞赛总结推进大会上，云浮电厂被授予&ldquo;2011年度广东省十项工程劳动竞赛模范集体&rdquo;称号，并同时被授予&ldquo;广东省五一劳动奖状&rdquo;荣誉。湛江生物质发电公司总经理苏余宁和集团有限公司专责工程师任军分别被授予&ldquo;广东省十项工程劳动竞赛模范企业家&rdquo;和&ldquo;广东省十项工程劳动竞赛模范科技工作者&rdquo;称号，并同时获&ldquo;广东省五一劳动奖章&rdquo;荣誉。</p>
<p>●7月，威信云投粤电扎西能源有限公司煤电一体化项目一期工程1号机组圆满完成168小时满负荷试运行，比计划工期提早了11天投产。该项目一期2&times;600MW新建工程是粤电集团在2005年&ldquo;泛珠会&rdquo;上签订的第一个合作项目，也是国家&ldquo;西电东送&rdquo;的重要配套项目。</p>
<p>&nbsp;</p>
<p id="aug"><strong>八月</strong></p>
<p>●8月6日，上海电气电站集团股份有限公司首席技术官、上海电气电站集团执行副总裁黄瓯一行到访粤电集团。粤电集团总经理李灼贤、副总经理洪荣坤接待了来访。</p>
<p>●8月8日，粤电集团在总部广场举行升旗仪式，喜迎第九个&ldquo;粤电节&rdquo;，庆祝粤电成立十一周年。粤电集团领导、总部全体员工及广州地区直属公司高管人员参加了仪式。</p>
<p>●8月9日，河北港口集团有限公司总经理、副董事长李敏一行到访粤电。粤电集团总经理李灼贤、副总经理祝德俊接待了来访。</p>
<p>●8月16日，中国中煤能源集团有限公司总经理王安一行到访粤电集团，粤电集团董事长潘力、副总经理祝德俊接待了来访。</p>
<p>●8月30日，西北大陆架澳大利亚天然气有限公司新任总裁布赖恩&middot;马密一行到访粤电集团，粤电集团副总经理李明亮等接待了客人，双方就合作中有关事宜进行交流。</p>
<p>●8月31日，广东省国资委系统召开创先争优总结表彰大会，粤电集团党委副书记、总经理李灼贤，党委副书记、纪委书记、工会主席钟伟民参加会议。粤电集团系统深圳广前电力公司党委、红海湾发电公司党委、湛江电力公司党委获创先争优先进基层党组织，沙角C电厂王峰、沙角A电厂徐仿优、新丰江发电公司梁文朗等三位同志被授予创先争优优秀共产党员。</p>
<p>●8月31日13时52分，河源市源城区、东源县交界处（北纬23.8&deg;，东经114.7&deg;）发生4.2级地震，震源深度11公里。经过现场检查和分析监测资料结果表明，新丰江电厂大坝各项监测数据变化幅度均处于正常范围，各类水工建筑物及机电设备等均未受到地震影响和损害，新丰江大坝运行正常。</p>
<p>●8月，由粤电集团主办、大唐华银株洲发电公司承办的粤电集团2012年火力发电机组值长技能竞赛在湖南举行，粤电集团总经理李灼贤出席了颁奖仪式。</p>
<p>&nbsp;</p>
<p id="sep"><strong>九月</strong></p>
<p>●9月，广东省国资委颁布十七家省属企业2011年度经营业绩考核结果，粤电集团喜获&ldquo;优秀&rdquo;，这是粤电集团自2001年成立以来连续第十一年经营业绩考核获得优秀。</p>
<p>●9月6日，BP集团中国天然气公司总裁金墨士一行到访粤电，粤电集团副总经理高仕强等接待了客人，双方就天然气管网销售事宜进行交流。</p>
<p>●9月7日，粤电集团旗下电力开发公司与松山湖高新区管委会签订分布式能源及新能源项目战略合作框架协议。粤电集团副总经理杨新力出席签约仪式。本次战略合作框架协议的签署，是双方共同开启长期战略合作的新起点，对粤电集团打造绿色能源企业和加快培育新能源产业具有重要的意义。</p>
<p>●9月13日，广东省国资委主任、党委书记温国辉，副主任、党委委员王奇莅临粤电检查工作，粤电集团在家领导潘力、洪荣坤、孔惠天、李明亮、徐平、杨新力参加座谈会。温国辉对粤电在经营业绩、安全生产和履行社会责任等方面的工作表示肯定，并鼓励粤电不断加强在安全生产、优化结构、多元化发展和环保等方面的管理和投入，为经济社会输送更多更可靠的电力能源。</p>
<p>●9月16日至18日，第四届中国（太原）国际能源产业博览会在太原召开，广东省代表团团长、省经信委副主任李向明，代表团副团长、粤电集团副总经理杨新力参加了能博会开幕式。粤电集团以&ldquo;用心创造绿色能源&rdquo;为主题参展，</p>
<p>并获&ldquo;最佳参展企业奖&rdquo;。</p>
<p>●9月25日，粤电集团在广州举行总部离退休员工中秋、国庆&ldquo;双节&rdquo;慰问活动。粤电集团在家领导李灼贤、钟伟民、高仕强、李明亮、杨新力等参加了此次活动，为离退休员工们送上浓浓的祝福。</p>
<p>&nbsp;</p>
<p id="oct"><strong>十月</strong></p>
<p>●10月，粤电集团财务部获广东省国资委2011年度企业国有资产统计及财务决算工作通报表彰。</p>
<p>●10月，粤电集团获赠广东省慈善总会&ldquo;大爱救心 行善积德&rdquo;牌匾。</p>
<p>●10月8日，粤电集团旗下湛江风电公司雷州红心楼风电项目获得广东省发改委的核准批复。该项目是粤电集团在粤西地区开发建设的第三个风电项目，规划总装机容量4.95万千瓦。</p>
<p>●10月19日，中共中央政治局委员、时任广东省委书记汪洋莅临粤电集团旗下南水发电公司水库视察。广东省委常委、秘书长林木声，省政府党组成员李容根及韶关市委书记郑振涛等省市领导，粤电集团董事长潘力、南水发电公司主要负责人陪同视察。汪洋强调要加强水库的生态环境保护力度，科学规划，为人民群众提供优质、放心的饮用水。</p>
<p>●10月18-19日，粤电集团召开综合管理工作会议，粤电集团总经济师孔惠天出席会议并讲话。会议对2011年以来集团公司综合管理工作进行回顾，对下一个阶段的综合管理工作进行部署。</p>
<p>●10月26日，粤电集团在总部召开创先争优总结表彰电视电话会议，粤电集团在家领导潘力、刘谦、钟伟民、高仕强、李明亮、徐平出席会议。会议对创先争优工作进行总结，向创先争优先进基层党组织代表和优秀共产党员代表颁发荣誉牌匾和荣誉证书。</p>
<p>&nbsp;</p>
<p id="nov"><strong>十一月</strong><strong></strong></p>
<p>●11月，中国社会科学院经济学部企业社会责任研究中心发布《中国企业社会责任研究报告（2012）》，粤电集团首次参评获得&ldquo;中国100强企业社会责任发展指数&rdquo;第43名、&ldquo;中国国有企业100强社会责任发展指数&rdquo;第33名，成为广东省唯一一家进入&ldquo;中国100强企业社会责任发展指数&rdquo;排行榜的省属企业，并在全国六家入选发电企业中排名第4，环境责任指数在发电企业中排名第2。作为广东省属国企中首个发布社会责任报告的单位，粤电集团已连续两年公开发布社会责任报告。</p>
<p>●11月，粤电集团圆满完成十八大保电工作的各项任务。为全面落实十八大保电工作，粤电集团提前成立了十八大保电组织机构，制定并发布十八大保障电力安全方案，在系统各单位开展电力生产安全、网络信息安全、安全保卫、消防应急、车辆交通等多个方面等以保电为目的安全大检查。</p>
<p>●11月，粤电集团有9项管理创新成果在2012年全国电力行业企业管理创新成果评比中获奖。其中一等奖3个，二等奖2个，三等奖4个。</p>
<p>●11月，粤电集团、惠州天然气发电公司获评&ldquo;全国电力标准化工作先进集体&rdquo;。</p>
<p>●11月，粤电集团安全监察及生产技术部获评&ldquo;全国节能先进集体&rdquo;、&ldquo;全国减排先进集体&rdquo;。</p>
<p>●11月，金湾发电公司获评&ldquo;全国电力行业优秀企业&rdquo;。</p>
<p>●11月，沙角C电厂获&ldquo;全国电力行业管理创新成果一等奖&rdquo;。</p>
<p>●11月，经中国财务公司协会推荐，在中国总会计师协会、《中国总会计师》杂志社共同组织的优秀财务公司评选活动中，粤电财务公司获得&ldquo;2012年度优秀财务公司&rdquo;荣誉称号。</p>
<p>●11月，中国电力企业联合会公布的&ldquo;十一五&rdquo;电力行业节能减排先进个人评选结果，红海湾公司的张洪刚、沙角C电厂的王敬光获此殊荣。</p>
<p>●11月9日至11日，粤电集团以&ldquo;用心创造绿色能源&rdquo;为主题参加在广州举行&ldquo;2012年中国国际绿色创新技术产品展&rdquo;，重点展示粤电在风电、水电、生物质发电、太阳能光伏发电等清洁能源领域的发展状况，以及在绿色环保、绿色科技方面所取得的成果。</p>
<p>●11月16日，全国政协常委、经济委员会副主任张国宝一行赴广前公司调研。张国宝指出，国家高度重视电力工业的科学发展，重视能源结构调整，倡导适当增加天然气、核电、水电、风电、太阳能等清洁能源在能源结构中的比例。鼓励广前公司要善于抓住机遇，不断发展，争取企业进一步做大做强。</p>
<p>●11月28日，粤电集团董事长潘力在总部会见英国驻广州总领事馆总领事摩根，双方就可再生能源的投资与贸易等进行交流。</p>
<p>●11月29日，中电投贵州金元集团股份有限公司总经理刘立新一行到访粤电，粤电集团副总经理高仕强接待了来访。</p>
<p>●11月30日，粤电集团召开2012年度信息化工作会议暨信息技术交流会，粤电集团副总经理洪荣坤出席会议并讲话。会议对2012年信息化工作进行总结，对2013年工作做了部署。</p>
<p>&nbsp;</p>
<p id="dec"><strong>十二月</strong></p>
<p>●12月，粤电集团及旗下股份公司、燃料公司、天一公司、置业公司、环保公司共六家单位获2010－2011年度广州市纳税信用等级A级纳税人称号。</p>
<p>●12月，中国电力企业联合主办的全国电力企业信息化大会在广州召开。会上对2012年度&ldquo;电力行业信息化优秀成果奖&rdquo;和&ldquo;电力行业两化深度融合先进企业&rdquo;的企业进行了表彰。沙角A电厂的&ldquo;电力企业生产数据智能分析的深化管理应用&rdquo;项目获得电力行业信息化优秀成果奖一等奖；信息科技公司自主开发的&ldquo;新型卡片式企业信息门户系统的研发与应用&rdquo;获得电力行业信息化优秀成果奖二等奖；珠海电厂的&ldquo;生产经营管理与辅助决策研究与建设&rdquo;、财务公司的&ldquo;资金集中管理系统升级和应用&rdquo;分别获得三等奖；红海湾公司和珠海电厂分别获得&ldquo;电力行业信息化与工业化深度融合先进企业&rdquo;荣誉称号。</p>
<p>●12月，广东省企业联合会在广州举行省企业创新成果发布暨表彰大会，粤电旗下的太阳能南沙开发区光伏发电项目和华南理工大学光伏发电项目、红海湾公司的&ldquo;燃煤掺烧系统&rdquo;获&ldquo;广东省企业创新纪录&rdquo;荣誉。</p>
<p>●12月，粤电集团门户网站获评&ldquo;2012全国电力优秀门户网站&rdquo;。</p>
<p>●12月，粤电惠来电厂一期工程1、2号机组（2&times;600MW）项目档案管理获评&ldquo;全国建设项目档案管理示范工程&rdquo;。</p>
<p>●12月，粤电集团获评&ldquo;2012广东大型企业竞争力50强第三十名&rdquo;、&ldquo;2012年广东大型企业竞争力50强企业&rdquo;。</p>
<p>●12月，沙角A电厂被国家人力资源和社会保障部授予&ldquo;国家技能人才培育突出贡献奖&rdquo;荣誉称号，成为广东省获此殊荣的三家单位之一。</p>
<p>●12月，沙角C电厂、惠州天然气发电公司获评&ldquo;全国标准化良好行为企业AAAA级企业&rdquo;。</p>
<p align="left">●12月，湛江电力公司、红海湾发电公司、惠州天然气发电公司、广前电力公司、粤嘉电力公司、茂名电厂、韶关电厂、沙角A电厂工会、黄埔电厂工会获&ldquo;全国安全卫生知识竞赛优秀组织奖&rdquo;。</p>
<p align="left">●12月，珠海电厂、云浮电厂获评&ldquo;中国企业信用评价AAA级信用企业&rdquo;。</p>
<p align="left">●12月，粤嘉电力公司获评"2012年度信用中国&middot;十佳诚信企业"。</p>
<p align="left">●12月，红海湾发电公司一期3、4号超超临界燃煤机组（2&times;660MW）工程荣获&ldquo;2012年度广东省电力优质工程奖&rdquo;。</p>
<p align="left">●12月，中国科协、国家发改委、科技部和国资委联合举办的2011-2012年度全国&ldquo;讲理想、比贡献&rdquo;活动总结表彰大会在北京举行，韶关电厂获得&ldquo;2011-2012年度全国讲理想、比贡献&rdquo;活动先进集体荣誉称号。</p>
<p align="left">●12月，在广东省人力资源和社会保障工作会议上，粤电云浮电厂米辉、沙角C电厂郑大鹏、新丰江发电公司邱国伟、珠海电厂陈伟兴、粤嘉公司叶展华5人获&ldquo;第三届南粤技术能手&rdquo;表彰。</p>
<p align="left">●12月，中国水电质协电力分会表彰2012年全国电力行业优秀质量管理工作先进集体和个人，云浮电厂检修部电一班QC小组、金湾发电公司脱硫环保QC小组双获&ldquo;全国电力行业优秀质量管理小组&rdquo;称号，其中云浮电厂的曾胜庭获&ldquo;全国电力行业质量管理小组活动卓越领导者&rdquo;荣誉称号。</p>
<p>●12月4日，粤电集团旗下的惠州LNG电厂3&times;460MW热电联产扩建工程项目正式获得广东省发改委核准建设。</p>
<p>●12月7日，粤电集团在沙角C电厂召开基层党建创新&ldquo;书记项目&rdquo;总结会，粤电集团党委书记、董事长潘力出席会议并作重要讲话，会议由粤电集团党委副书记、纪委书记、工会主席钟伟民主持。会议对技术党课&ldquo;书记项目&rdquo;开展情况及成效进行了总结。</p>
<p>●12月12日，粤电集团董事长潘力，总经理李灼贤一行前往中山市，拜会中山市市长陈良贤。双方就天然气发电、分布式能源及新能源等项目进行了交流。</p>
<p>●12月17日，粤电集团作为主要发起人发起设立广东省岭南文化艺术促进基金会揭牌仪式在广州珠岛宾馆举行，中央政治局委员、时任广东省委书记汪洋，广东省省长朱小丹，副省长林少春出席仪式。粤电集团董事长潘力主持揭牌仪式，并与汪洋书记、朱小丹省长及南方电网赵建国董事长共同为基金会揭牌。</p>
<p>●12月21日，广东省副省长许瑞生到沙角A电厂视察环保工作。许瑞生对沙角A电厂积极落实省委、省政府节能减排的战略部署，以及在环保方面取得出色成绩和经验表示赞赏，并勉励沙A继续当好环保工作排头兵，巩固和发展环境保护成果。</p>
<p>●12月26日，威信云投粤电扎西能源有限公司煤电一体化项目一期工程2号机组圆满完成168小时满负荷试运行。</p>
<p>●12月28日，中国广东核电集团有限公司董事长贺禹，副总经理、总会计师施兵，副总经理、首席信息官高立刚一行到访粤电，粤电集团董事长潘力，副总经理洪荣坤、李明亮等接待了来访。</p>
<p>●12月31日，广东电力发展股份有限公司定向发行的15.78亿股A股股份登记在粤电集团名下，粤电集团向粤电力注入资产的重大资产重组项目圆满完成交割。重组完成后，粤电集团直接及间接合计持有粤电力的股权比例从原有的52.51%提高到69.64%，资产证券化比例大幅度提高、资产保值增值效应十分显著。</p>
<p>●2012年，粤电集团大力开展员工职业生涯管理和薪酬制度改革工作，致力于构建员工职业发展&ldquo;三通道&rdquo;体系，实现了薪酬的动态激励约束功能。3-11月，粤电集团组织完成了南水、广前、沙C、湛江和沙A等五家发电企业的员工职业生涯管理试点工作；7月，粤电集团在完成南水发电公司薪酬改革试点验收和经验总结的基础上，全面启动广东省内六家水电厂的薪酬改革推广工作，为实现水电厂在管理流程、组织机构、定员配置、薪酬及绩效体系的集约化管理，以及进一步推动粤电集团的分配制度改革奠定了基础。</p>
<p>●2012年，粤电集团开展燃煤电厂综合升级改造工作。有3台机组成功入选国家2012年第一批燃煤电厂26个综合升级改造示范项目实施计划，且是广东省仅有申报成功的3个项目；有15台机组初步通过评审，项目年节煤量约为30万吨。&nbsp;</p>

	</div>
</body>
</html>