<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>文本框</title>
	<script type="text/javascript" src="../js/jquery-1.10.2.js"></script>	
	<script type="text/javascript" src="js/shCore.js"></script>
	<script type="text/javascript" src="js/shLegacy.js"></script>
	<script type="text/javascript" src="js/shAutoloader.js"></script>
	<script type="text/javascript" src="js/shBrushJScript.js"></script>
	<script type="text/javascript" src="js/shBrushXml.js"></script>
	<script type="text/javascript" src="../package/js/itcui.dev.js"></script>
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="css/shCoreDefault.css" media="all"/>	
	<link rel="stylesheet" type="text/css" href="css/shCoreDefault.css" media="all"/>	
	<link rel="stylesheet" type="text/css" href="../package/css/itcui.dev.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="css/bs_doc_ext.css" media="all"/>
	<script type="text/javascript">
		$(document).ready(function(e){
			SyntaxHighlighter.all();
			$(".toggler").click(function(e){
				var id = $(this).attr("id");
				if($(this).html()=="显示代码"){
					$(this).html("隐藏代码");
					$("#" + id + "_div").show();
				}
				else{
					$(this).html("显示代码");
					$("#" + id + "_div").hide();
				}
			});
			$("#test_icon").ITCUI_Input();
			$("#test_placeholder").ITCUI_Input();
			$("#test_onlylabel").ITCUI_Input();
		});
	</script>
	<style>
		p{text-indent:2em;}
		.toggler{font-size:12px}
	</style>
	
</head>
<body style="margin:16px;font-size:14px" class="bbox">
	<div class="alert alert-warning">
		本节所述内容仅供更多细节参考，UI组件已提供支持响应布局的表单封装。
    </div>
	<h4>创建一个文本框</h4>
	<div class="input-group-sm">
		<input type="text" class="form-control input-group-sm" style="width:200px" />
	</div>
	<div class="row">	
		<a id="create_input" class="toggler">显示代码</a>
	</div>
	<div id="create_input_div" style="display:none">
		<p>直接为文本框添加form-control类即可，对于在表单中的文本框，需要使用input-group-sm改变文本框的高度。</p>
		<p>需要注意的是：<br />
			（1）在表单中应该使用栅格系统控制文本框的长度，而不是手动设置每个文本框的大小。<br />
			（2）对于没有与按钮组合的文本框，需要额外添加类input-corner，否则无法显示圆角边框。<br />
			（3）为div添加input-group会有一个效果，就是去掉第一个控件的右圆角，和最后一个控件的左圆角，这样<strong>当单独一个input被input-group包裹时，就会同时失去左右侧的圆角效果</strong>。
		</p>
		<pre class="brush: xml;">
			&lt;div class="input-group-sm">
				&lt;input type="text" class="form-control" style="width:200px">
			&lt;/div>
		</pre>
	</div>

	<h4>将一组文本框制作为表单</h4>
	<p>注：此代码的自动列布局调整需要chrome或者IE9以上浏览器方能显示，更多的请参考“兼容性”一节</p>
	<form class="form-horizontal" role="form">
		<div class="row">
			<div class="form-group col-xs-6 col-md-4">
				<label class="col-xs-4 col-md-4 control-label">姓名</label>
				<div class="col-xs-8 col-md-8 input-group-sm">
					<input type="text" class="form-control"/>
				</div>
			</div>
			<div class="form-group col-xs-6 col-md-4">
				<label class="col-xs-4 col-md-4 control-label">家庭住址</label>
				<div class="col-xs-8 col-md-8 input-group-sm">
					<input type="text" class="form-control"/>
				</div>
			</div>
			<div class="form-group col-xs-6 col-md-4">
				<label class="col-xs-4 col-md-4 control-label">移动电话</label>
				<div class="col-xs-8 col-md-8 input-group-sm">
					<input type="text" class="form-control"/>
				</div>
			</div>
		</div>
	</form>
	<div class="row">	
		<a id="create_form" class="toggler">显示代码</a>
	</div>
	<div id="create_form_div" style="display:none">
		<p>以下代码演示了如何制作一个宽屏下3列，窄屏下两列的表单。同时，表单的form-horizontal类保证了文本框和标签中轴位于同一条水平线上。</p>
		<pre class="brush: xml;">
			&lt;form class="form-horizontal" role="form">
				&lt;div class="row">
					&lt;div class="form-group col-xs-6 col-md-4">
						&lt;label class="col-xs-4 col-md-4 control-label">姓名&lt;/label>
						&lt;div class="col-xs-8 col-md-8 input-group-sm">
							&lt;input type="text" class="form-control"/>
						&lt;/div>
					&lt;/div>
					&lt;div class="form-group col-xs-6 col-md-4">
						&lt;label class="col-xs-4 col-md-4 control-label">家庭住址&lt;/label>
						&lt;div class="col-xs-8 col-md-8 input-group-sm">
							&lt;input type="text" class="form-control"/>
						&lt;/div>
					&lt;/div>
					&lt;div class="form-group col-xs-6 col-md-4">
						&lt;label class="col-xs-4 col-md-4 control-label">移动电话&lt;/label>
						&lt;!--特别注意 label不要写到下面那个DIV里面去-->
						&lt;div class="col-xs-8 col-md-8 input-group-sm">
							&lt;input type="text" class="form-control"/>
						&lt;/div>
					&lt;/div>
				&lt;/div>
			&lt;/form>
		</pre>
		<p><strong style="color:#ff0000">需要特别强调的是，由于扩展功能的加入，编写代码时，请将label和包裹input的div分开写，否则会在使用扩展功能时出现异常。</strong></p>
	</div>

	<h4>组合文本框与按钮</h4>	
	<div class="row">
		<div class="input-group input-group-sm" style="width:200px">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">某个动作</button>
			</span>
			<input type="text" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="input-group input-group-sm" style="width:200px">
			<input type="text" class="form-control" />
			<span class="input-group-btn">
				<button class="btn btn-success" type="button">某个动作</button>
			</span>				
		</div>
	</div>
	<div class="row">
		<div class="input-group input-group-sm" style="width:200px">
			<input type="text" class="form-control" />
			<span class="input-group-btn">
				<button class="btn btn-success" type="button"><span class="icon-search"></span></button>
			</span>				
		</div>
	</div>
	<div class="row">	
		<a id="combine_button" class="toggler">显示代码</a>
	</div>
	<div id="combine_button_div" style="display:none">
		<p>下面的代码演示了如何将一个按钮和文本框组合在一起，按钮可以位于文本框左侧也可以位于文本框右侧。可以用同样的办法将文本框与带有拉下菜单的按钮组合在一起，具体参考“按钮”一节。注意第三个文本框的放大镜图标是图标字体。</p>
		<pre class="brush: xml;">
			&lt;div class="row">
				&lt;div class="input-group input-group-sm" style="width:200px">
					&lt;span class="input-group-btn">
						&lt;button class="btn btn-default" type="button">某个动作&lt;/button>
					&lt;/span>
					&lt;input type="text" class="form-control">
				&lt;/div>
			&lt;/div>
			&lt;div class="row">
				&lt;div class="input-group input-group-sm" style="width:200px">
					&lt;input type="text" class="form-control">
					&lt;span class="input-group-btn">
						&lt;button class="btn btn-success" type="button">某个动作&lt;/button>
					&lt;/span>				
				&lt;/div>
			&lt;/div>
			&lt;div class="row">
				&lt;div class="input-group input-group-sm" style="width:200px">
					&lt;input type="text" class="form-control">
					&lt;span class="input-group-btn">
						&lt;button class="btn btn-success" type="button">&lt;span class="icon-search">&lt;/span>&lt;/button>
					&lt;/span>				
				&lt;/div>
			&lt;/div>
		</pre>
	</div>

	<h4>设置文本框的状态</h4>
	<div class="input-group-sm">
		<input id="test_disable" type="text" class="form-control" style="width:200px" />
	</div>
	<div class="row">
		<a href="javascript:void(0)" onclick="$('#test_disable').attr('disabled','disabled')">禁用该文本框</a>
		<a href="javascript:void(0)" onclick="$('#test_disable').removeAttr('disabled')">取消禁用</a>
	</div>
	<div class="row">	
		<a id="disable_button" class="toggler">显示代码</a>
	</div>
	<div id="disable_button_div" style="display:none">
		<p>通过为文本框设置disabled属性，可以禁止编辑内容。</p>
		<pre class="brush: xml;">
			&lt;div class="input-group-sm">
				&lt;input type="text" class="form-control" style="width:200px" disabled="disabled">
			&lt;/div>
		</pre>
	</div>
	
	<h4>扩展基本文本框</h4>
	<p>ITCUI_Input函数提供了对文本框的扩展：</p>
	<ul>
		<li>在文本框内附加一个图标（如日期选择器）</li>
		<li>IE8兼容的提示性文字（Placeholder，此属性在HTML5中源生支持，因而不需要实现）</li>
		<li>将文本框变为普通Label</li>
	</ul>
	<p>需要注意的是，和第一版Input不同，新版Input基于Bootstrap的wrap开发，即文本框必须显式使用带有input-group-sm的div包裹。</p>
	<p>标签和JS代码均可以初始化文本框：</p>
	<div class="row">
		<div class="input-group input-group-sm" style="width:200px">
			<input type="text" id="test_icon" icon="itcui_btn_calander" placeholder="请选择时间"/>		
		</div>
	</div>
	<div class="row">
		<div class="input-group input-group-sm" style="width:200px">
			<input type="text" id="test_placeholder" placeholder="请输入用户名"/>		
		</div>
	</div>
	<div class="row">
		<div class="input-group input-group-sm" style="width:200px">
			<input type="text" id="test_onlylabel" onlylabel=true value="变为标签的文本框" />		
		</div>
	</div>
	<p>HTML代码：</p>
	<pre class="brush:xml">
		&lt;div class="row">
			&lt;div class="input-group input-group-sm" style="width:200px">
				&lt;input type="text" id="test_icon" icon="itcui_btn_calander" placeholder="请选择时间"/>		
			&lt;/div>
		&lt;/div>
		&lt;div class="row">
			&lt;div class="input-group input-group-sm" style="width:200px">
				&lt;input type="text" id="test_placeholder" placeholder="请输入用户名"/>		
			&lt;/div>
		&lt;/div>
		&lt;div class="row">
			&lt;div class="input-group input-group-sm" style="width:200px">
				&lt;input type="text" id="test_onlylabel" onlylabel=true value="变为标签的文本框" />		
			&lt;/div>
		&lt;/div>
	</pre>
	<p>注意这里的input<strong>没有</strong>form-control样式！</p>
	<p>JS代码：</p>
	<pre class="brush:js">
		$("#test_icon").ITCUI_Input();
		$("#test_placeholder").ITCUI_Input();
		$("#test_onlylabel").ITCUI_Input();
	</pre>
	<p>需要注意的是，placeholder和icon只能在页面初始化或者文本框创建时执行，运行时可以通过JS操作的只有标签化和恢复正常文本框样式。同时onlyLabel的实现是将外框的颜色设为白色（如果简单移除边框会导致文本有轻微的跳动），如果在页面底色非白色时要修改样式borderless。</p>

	<h4>为文本框添加搜索提示功能</h4>
	<p>ITCUI_HintList函数可以为任何一个文本框添加搜素提示功能，效果如下：</p>
	<img src="images/hintlist.png"></body>
	<p>代码：</p>
	<pre class="brush:js">
		$("#itcui_input_name").ITCUI_HintList({
			"datasource":Project.basePath+"ProjectServlet?method=searchCourse",
			"getDataOnKeyPress":true,
			"extArgName":"majors",
			"extArgFunc":function(){
				return $('#majors').ITCUI_ComboBox('getSelected').trim();
			},
			"clickEvent":function(id,name){
				Project.addCourse(id);
			}
		});
	</pre>
	<p>其中dom操作对象为任意input。</p>
	<p>参数说明：</p>
	<ul>
		<li>datasource - 远程数据源，返回一个json字符串，需要解析为List，其中每一项为Object，包含id和name两个字段。</li>
		<li>getDataOnKeyPress - 设置为true时，每次输入都会请求一次数据</li>
		<li>extArgName - 附加到datasource后额外的字段</li>
		<li>extArgFunc - extArgName的取值函数，在每次搜索前执行</li>
		<li>clickEvent - 点击搜索项后的操作函数，</li>
	</ul>
	<p>接受的数据形如：</p>
	<pre class="brush:js">
		[{"id":"C-000861","name":"输电课程乙(4课时)"},
		{"id":"C-000851","name":"输电课程甲(6课时)"},
		{"id":"C-000841","name":"变电课程乙(1课时)"},
		{"id":"C-000831","name":"变电课程甲(3课时)"},
		{"id":"C-000761","name":"已删除变电课程(1课时)"},
		{"id":"C-000391","name":"测试课程(2课时)"},
		{"id":"C-000291","name":"我是测试课程2(5课时)"}]
	</pre>
</body>
</html>